.loading-container,
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  margin: 20px;
}

.error-message {
  color: var(--mat-sys-error);
  margin-bottom: 1rem;
}

mat-card {
  max-width: 800px;
  margin: 20px auto;
  border-radius: 8px;
  padding: 16px;
}

mat-card-header {
  padding-bottom: 16px;
}

mat-card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

mat-card-content {
  padding: 16px;
}

mat-card-content p {
  display: flex;
  align-items: center;
  margin: 8px 0;
  font-size: 16px;
}

mat-card-content mat-icon {
  margin-right: 8px;
  color: var(--mat-sys-on-surface);
}

mat-divider {
  margin: 16px 0;
}

mat-card-actions {
  padding: 8px 16px;
}

mat-card-actions button,
mat-card-actions a {
  margin-left: 8px;
}
