.employee-table {
  width: 100%;
}

.top-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

.search-bar-container {
  width: 100%;
}

.employee-row {
  cursor: pointer;
}

.employee-row:hover {
  background-color: var(--mat-sys-inverse-on-surface);
}

.loading-container,
.error-container,
.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.error-message {
  color: var(--mat-sys-error);
  margin-bottom: 1rem;
}
